<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.katharinafeiertag.mediary">

    <!--
    &lt;!&ndash; To auto-complete the email text field in the login form with the user's emails &ndash;&gt;
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login2Activity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HauptmenuActivity"
            android:label="@string/app_name" />
        <activity android:name=".RegistrierungActivity" />
        <activity android:name=".BenutzerprofilActivity" />
        <activity android:name=".alleMedEinsichtActivity" />
        <activity
            android:name=".EinstellungenActivity"
            android:label="@string/title_activity_einstellungen" />
        <activity android:name=".AptknaeheActivity"/>


        <activity android:name=".EinnahmeActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".passwortActivity" />
        <activity android:name=".HausapothekeMenuActivity" />
        <activity android:name=".MedikamentHinzufugenActivity" />
        <activity android:name=".MedEinnahmeActivitiy"/>
        <activity android:name=".MedikamentenAdd"></activity>

        <!-- Declaring Service in Manifest -->
        <service
            android:name=".ServiceDbAbfrage"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


    </application>

</manifest>